version: "3.9"

services:
  geth01:
    build: ./docker/images/ethereum
    networks:
      ethereum:
        ipv4_address: ${NODE01_IP:?}
    ports:
      - "8545:8545"
    volumes:
      - ./.tmp:/root/.tmp
      - ./docker/files/node01/:/root/files/
      - ./docker/files/shared/:/root/files/shared
    environment:
      GENESIS_FILE: ./files/shared/genesis.json
      DATA_DIR: .tmp/node01
    working_dir: /root
    command: [
      "--networkid", "${NETWORK_ID:?}",
      "--authrpc.port", "8551",

      "--http",
      "--http.api", "eth,personal",
      "--http.addr", "0.0.0.0",
      "--http.vhosts", "*",
      "--allow-insecure-unlock",

      "--nodekey", "./files/nodekey",
      "--keystore", "./files/keystore",
      # Miner unlocking
      "--unlock", "0x6ce0ba981dd9b3bc259bbd868be14f957dbe6dcf",
      "--password", "./files/password_6ce0ba981dd9b3bc259bbd868be14f957dbe6dcf.txt",
      # Mining (PoA)
      "--mine",
      "--miner.etherbase", "0x6ce0ba981dd9b3bc259bbd868be14f957dbe6dcf",
      # Bootstrap Node Settings
      "--port", "${NODE01_PORT:?}",
      "-nat", "extip:${NODE01_IP:?}",
    ]

  #
  # Services
  #
  database:
    image: postgres
    networks:
      - server-local
    volumes:
      - db-store:/var/lib/postgresql/data
      - ./docker/database/scripts:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_PASSWORD=mysecretpassword
  server:
    image: rust
    networks:
      - network-1
      - server-local
    volumes:
      - cargo-target:/app/target
    init: true
    working_dir: /usr/src/myapp
    command: "/app/target/debug/server"

  #
  # Commands
  #

  geth:
    profiles: [command]
    build: ./docker/images/ethereum
    networks:
      ethereum:
    volumes:
      - ./:/root
    working_dir: /root
    entrypoint: geth
    command: attach .tmp/node01/geth.ipc

  build:
    profiles: [command]
    image: rust
    volumes:
      - ./:/usr/src/myapp
      - cargo-registry:/usr/local/cargo/registry
      - cargo-target:/app/target
    working_dir: /usr/src/myapp
    command: "cargo build"
    environment:
      - CARGO_BUILD_TARGET_DIR=/app/target

  client:
    profiles: [command]
    image: rust
    networks:
      - network-1
      - ethereum
    volumes:
      - cargo-target:/app/target
      - user-local:/app/local
    depends_on:
      - server
    init: true
    working_dir: /usr/src/myapp
    command: "/app/target/debug/client"

volumes:
  cargo-registry:
  cargo-target:
  db-store:
  user-local:

networks:
  ethereum:
    ipam:
      driver: default
      config:
        - subnet: 172.20.0.0/16
  network-1:
  server-local:
